[package]
name = "c4rs-core"
version.workspace = true
edition.workspace = true

[dependencies]
thiserror.workspace = true
derive_more.workspace = true
bon.workspace = true

[lints.clippy]
unwrap_used = "deny"
expect_used = "deny"
panic = "deny"
